<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by satyam as nodejs development training project. It uses data from mapbox.com and darksky.net!</p>
        
    </div>
    
    {{>footer}}
</body>

</html>